html
  head
    title Medical Examinations Manager
  body
    div
      each prenotazioneEData in pED
        p Tipo ricetta: #{prenotazioneEData[0]}, struttura: #{prenotazioneEData[1]}, data: #{prenotazioneEData[2]}        
          input(
            type="button"
            onclick=` if (confirm("Confermi di voler ANNULLARE la prenotazione?\\n(La ricetta NON SARA\` PIU\` UTILIZZABILE)")) location.href='/prenotazioni/cancella/${prenotazioneEData[3]}?idPaziente=${patientId}';`
            value="Annulla Prenotazione"
          )        
          if prenotazioneEData[4]
            input(
              type="button"
              onclick=`location.href='/referto/visualizza/${prenotazioneEData[4]}'`
              value="Visualizza Referto"
            )
        |
        br
    unless pED.length
      h3 Nessuna Prenotazione o Visita Effettuata.