html
  head
    title Medical Examinations Manager
  body
    div
      each ricetta in ricette
        a(href=`/strutture?paziente=${ricetta.paziente}&ricetta=${ricetta._id}&tipoVisita=${ricetta.tipoVisita._id}`) #{ricetta.codiceRicetta} #{ricetta.tipoVisita.nome}
        |
        br